<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tradingplatform.Mapper.AddShopDetialMapper">
    <resultMap id="shopMap" type="com.example.tradingplatform.pojo.Shop">
        <id property="productId" column="product_id"/>
        <result property="productName" column="product_name"/>
        <result property="productPrice" column="product_price"/>
        <result property="productPhoto" column="product_photo"/>
        <result property="productCount" column="product_count"/>
        <result property="productDetial" column="product_detial"/>
        <result property="productStatus" column="product_status"/>
    </resultMap>
    <resultMap id="shopMap1" type="com.example.tradingplatform.pojo.Shop" extends="shopMap">
        <association property="user" javaType="com.example.tradingplatform.pojo.User">
            <id property="id" column="id"/>
            <result property="userName" column="user_name"/>
            <result property="userNumber" column="user_number"/>
            <result property="userPassword" column="user_password"/>
            <result property="userPhoto" column="user_photo"/>
            <result property="userSex" column="user_sex"/>
            <result property="userAge" column="user_age"/>
        </association>
    </resultMap>

    <update id="alterProductById" parameterType="com.example.tradingplatform.pojo.Shop">
        update shop s
        set s.product_name = #{shop.productName}, s.product_price = #{shop.productPrice}, s.product_photo = #{shop.productPhoto}, s.product_count = #{shop.productCount}, s.product_detial = #{shop.productDetial}
        where s.product_id = #{productId}
    </update>
</mapper>