<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tradingplatform.Mapper.OrderMapper">
    <resultMap id="orderMap" type="com.example.tradingplatform.pojo.Order">
        <id property="productId" column="product_id"/>
        <result property="productName" column="product_name"/>
        <result property="productPrice" column="product_price"/>
        <result property="productPhoto" column="product_photo"/>
        <result property="productCount" column="product_count"/>
        <result property="createTime" column="create_time"/>
    </resultMap>
    <resultMap id="orderMap1" type="com.example.tradingplatform.pojo.Order" extends="orderMap">
        <collection property="user" ofType="com.example.tradingplatform.pojo.User" resultMap="com.example.tradingplatform.Mapper.UserMapper.userMap">
        </collection>
    </resultMap>

    <insert id="addOrderByUserId" useGeneratedKeys="true" keyProperty="order.productId" parameterType="com.example.tradingplatform.pojo.Order">
        insert into `order`(product_name,product_price,product_photo,product_count,create_time,user_id) values
        (#{order.productName},#{order.productPrice},#{order.productPhoto},#{order.productCount},#{order.createTime},#{userId})
    </insert>

    <select id="selectOrderByUserId" resultMap="orderMap">
        select *
        from `order` o
        where o.user_id = #{userId}
    </select>

    <update id="updateOrderByUserId">
        update `order` o
        set o.product_count = o.product_count + #{number}
        where o.user_id = #{userId}
    </update>

    <delete id="deleteOrderByUserId">
        delete from `order` o
        where o.product_id = #{productId}
    </delete>
</mapper>