<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tradingplatform.Mapper.ShoppingMapper">
    <resultMap id="shopMap" type="com.example.tradingplatform.pojo.Shop">
        <id property="productId" column="product_id"/>
        <result property="productName" column="product_name"/>
        <result property="productPrice" column="product_price"/>
        <result property="productPhoto" column="product_photo"/>
        <result property="productCount" column="product_count"/>
        <result property="productDetial" column="product_detial"/>
    </resultMap>
    <resultMap id="shopMap1" type="com.example.tradingplatform.pojo.Shop" extends="shopMap">
        <collection property="user" ofType="com.example.tradingplatform.pojo.User" resultMap="com.example.tradingplatform.Mapper.UserMapper.userMap">
        </collection>
    </resultMap>

</mapper>